@import url('https://rsms.me/inter/inter.css');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', sans-serif;
  }
}

a {
  color: $blue;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #000;
  }
}

input, button {
  font-size: inherit;
}
