<%= link_to('Start a new game with a friend', friends_path) %>

<% if @games.any? %>
  <ul>
    <% @games.each do |game| %>
      <li>
        <%=
          link_to \
            "Game with #{game.opponent_of(current_user)}",
            edit_game_path(game)
        %>
      </li>
    <% end %>
  </ul>
<% end %>
