.board {
  display: inline-flex;
  flex-direction: row;
}

.board__col {
  display: flex;
  flex-direction: column;
}

.board__tile {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  box-shadow: inset 5px 5px 5px rgba(#000, 0.05);
  border: 2px solid #fff;
  border-radius: 0.5rem;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;

  .placeable &:hover {
    box-shadow: inset 5px 5px 5px rgba(#000, 0.2);
    cursor: pointer;
  }
}

.board__tile--start {
  background-color: #ccc;
}

.board__tile--dl,
.board__tile--tl,
.board__tile--dw,
.board__tile--tw {
  &:before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.board__tile--dl {
  background-color: rgba($yellow, 0.3);

  &:before {
    content: 'dl';
    color: $yellow;
  }
}

.board__tile--tl {
  background-color: rgba($blue, 0.3);

  &:before {
    content: 'tl';
    color: rgba($blue, 0.3);
  }
}

.board__tile--dw {
  background-color: rgba($orange, 0.3);

  &:before {
    content: 'dw';
    color: rgba($orange, 0.5);
  }
}

.board__tile--tw {
  background-color: rgba($green, 0.3);

  &:before {
    content: 'tw';
    color: $green;
  }
}
