.menu {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 1rem;
  color: #fff;
}

.menu__logo {
  margin: 0;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1rem;

  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: #f2cc0c;
    }
  }
}

.menu__items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  margin: 0;
  padding: 0;

  a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: #f2cc0c;
    }
  }
}
