.nav {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;

  a, button {
    background: transparent;
    outline: none;
    display: block;
    padding: 1rem;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
    transition: color 0.25s ease-in-out;

    &:hover, &.is-active {
      color: #f2cc0c;
    }
  }
}

.nav__logo {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

.nav__items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin: 0;
  padding: 0;
  position: relative;
}

.nav__dropdown {
  background-color: #fff;
  display: none;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
  box-shadow: 0 3px 5px rgba(#000, 0.4);
  position: absolute;
  z-index: 2;
  top: calc(100% - 0.3rem);
  right: 0.3rem;
  list-style: none;

  .is-active + & {
    display: block;
  }

  .nav__item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  a {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    color: #999;

    &:hover {
      color: #2b2b2b;
    }
  }
}
