.nav {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;

  a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: #f2cc0c;
    }
  }
}

.nav__logo {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

.nav__items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin: 0;
  padding: 0;
}
