@import './config/colors';

@import './components/board';
@import './components/button';
@import './components/container';
@import './components/flash';
@import './components/form';
@import './components/game_ui';
@import './components/nav';
@import './components/tile';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
